# Set 'home' as the default entry point for the root directory
RewriteEngine on

# Redirect root URL (/) to /home
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+\sHTTP [NC]
RewriteRule ^$ /home [R=301,L]

# Rewrite 'home' to serve 'index.html'
RewriteRule ^home/?$ index.html [L]

# Rewrite rules for serving .html files without extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]
